<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
            	<h3>What is it?</h3>
                <p>Hungr is a location-based place-to-eat finder. We take your location and give you a selection of nearby restaurants. Then it's over to you...</p>
            </div>
            <div class="col-lg-4">
                <h3>Yes or no?!</h3>
                <p>We'll keep track of the restaurants you've liked and put them on a map for you... Bon appetit!</p>
            </div>
        </div>
    </div>
</section>