<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="images/logo.png" alt="">
                <div class="intro-text">
                    <span class="name">Welcome to HUNGR!</span>
                    <hr class="star-light">
                    <span class="skills">Are you hungry? </span>
                    <span class="name" ><a ng-href="#/yes-or-no" class="label">Get started</a></spam>
                </div>
            </div>
        </div>
    </div>
</header>