<!-- About Section -->
<section class="success" id="yes-or-no" ng-hide="showMap">
    <div class="container" >
       
        <div id="yes-or-no-loading" ng-show="waitingForPlaces">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Yes or no?</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/assets/img/portfolio/cake.png" class="img-responsive img-centered btn btn-lg"/>
                </div>
            </div>
        </div>

        <div id="yes-or-no-place" ng-show="!waitingForPlaces">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="yes-or-no-place-name"></h2>
                    <hr class="star-light">
                    <img id="yes-or-no-image" src="" class="img-responsive img-centered btn btn-lg"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div id="yes-button" class="btn btn-lg"><img class="img-responsive img-centered btn btn-lg" src="/images/thumbup.png" style="width:175px; height:150px;"/></div>
                    <div id="no-button" class="btn btn-lg"><img class="img-responsive img-centered btn btn-lg" src="/images/thumbdown.png" style="width:175px; height:150px;"/></div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Panel to contain the maps -->
<section id="results" ng-show="showMap">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Maps</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div id="results-map"></div>
        </div>
    </div>
</section>